
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: "poppins",sans-serif;
}
/* root:{


} */
/* social media header */
.header1
{
  display: flex;
  padding-left: 2%;
  padding-bottom: 1%;
}

.header1 .liheader1
{
  display: flex;
  gap: 20px;

}

.header1 .liheader1 img
{
  width: 30px;
}

.header1 .liheader2
{
  display: flex;
  gap: 20px;
  padding-left: 55%;
}

.header1 .liheader2 img
{
  width: 20px;
  text-decoration: none;
}

.header1 .liheader2 a
{
  text-decoration: none;
  color: black;
}
 
.header1 .liheader2 .one:hover{
  color: #00d0ff;
}
.header1 .liheader2 .two:hover{
  color: #00d0ff;
}


/* logo */
.logo
{
    width: 130px;
}

/* main header */
header
{
    background-color: white;
    margin-left: 10%;
    margin-top: 10px;
}
.nav
{
    /* display: flex; */
    font-family: Sans-serif;
    /* font-weight: 5000; */
    
}
.nav-bar
{
    display: flex;
    margin-top: 20px;
}
.nav-bar li 
{
    list-style: none;
    /* margin: 20px; */
    text-decoration: none;
    font: bold;
    
}
.nav-bar li a
{
    text-decoration: none;
    color: black;
}

.header .nav .btn
{
    margin-left: 5%;
    width: 170px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    background-color: #00d0ff ;
    border: none;
    font: bold;
}
.header .nav .btn:hover
{
  background-color: #14a2ca;
}


/* dropdown css */

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  /* hover color chnage */

  .nav-bar li:hover a{
    color: #00d0ff;
  }
  
/* card */

.service{
    flex-wrap: nowrap;
    display: flex;
  }

  .service .card{
    padding: 0px ;
    width: 400px;
    box-shadow: 10px 10px 5px 0px rgba(199, 196, 196, 0.75);
    display: flex;
    flex-direction: row;
/* -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */

  
  }
/* 
  .service .card .card-body
  {
    padding-left: 50px;
  }

.crd-img
{
    width: 100px !important;
    padding-left: 20px !important;
} */

.card-title1
{
  padding-top: 5px !important;
 
}
.card-title{
  padding-top: 4px !important;
  font-size: xx-large !important;
  color: #00d0ff !important;
  font-weight: 100px !important;
}

/* .service .card .card-title
{
    font-weight: 1000;
    color: #00d0ff;
} */

/* section 3 pictures and para */

.main
{
  width: 100%;
  height: 904px;
  display: flex;
  padding: 100px 0px ;
  justify-content: space-around;
  gap: 35px;
}

.main-container-1
{
  /* padding-left: 80px; */
  position: relative;
  width: 473px;
  height: 571px;
  padding: 20px;
}

.img-1
{
  width: 400px;
  height: auto;
  border-radius: 10px;
  position: absolute;
  top: 0%;
  left: 0%;
}
.img-2
{
  width:275px;
  height: auto;
  border-radius: 0px 10px 10px 10px;
  position: absolute;
  left: 225px;
  top: 300px;
  box-shadow: -10px -10px 0px 0px #ffff;
}

.main-container-2
{
  padding: 20px;
  width: 578px;
  height: 704px;
}

.h-1
{
  color: #00d0ff;
  font-weight: 700;
  padding-bottom: 20px;
}
.h-2
{
  font-weight: 700;
  font-size: 50px;
  padding-bottom: 40px;
}

.btnn
{
  background-color: #00d0ff;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  margin-top:7% ;
}
.btnn:hover
{
  background-color: #14a2ca;
}

/* section 4 */

.course-section
{
  
  height: 2000px;
  /* background-color: black; */
  background-color: #d9faff;
  background-image: url(../IMG/Flexi4A.png) ;
 
  opacity: .8;

  background-attachment: fixed;
  
  /* z-index: -999; */
  background-repeat:no-repeat ;
  margin-top: 50px !important;
}
.main-1
{
  margin-top: 150px !important;
}

.h-3
{
  text-align: center;
  color: #00d0ff;
  font-weight: 700;
  padding-bottom: 20px;
}
.h-4
{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 40px;
}

.main-1-container-1
{
  margin-top: 40px ;
  padding-left: 80px !important;
}

.btn-1
{
  margin-top: 10px;
  padding: 11px;
  width: 261px;
  border: 2px solid #625ecd;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container  .small-cards {
  width: 17%;
  height: 154px;
  margin: 10px;
  background-color: #fff;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  box-shadow:  0px 5px 15px rgba(0, 0, 0, 0.35);
  margin-top: 20px;
  border-radius: 10px;
  z-index: -1;
  margin-bottom: 20px;
  gap: 10px;

position: relative;

}

.img-circle
{
  border: 1px solid black;
 /* padding-left: 30px;
 padding-right: 30px; */
 margin-top: 20px;
 width: 50px;
 height: 50px;
 border-radius: 100px;
 padding-top: inherit;
 background-color: #005792;
}
.small-cards-img
{
  padding-bottom: 34px;
}
.small-cards-title
{
  text-decoration: none !important;
}

.small-card-1
{
  border: 1px solid black;
  height: 28px;
  width: 53px;
  background-color: #00204a;
  font-size: 17px;
  border-radius: 6px;
  padding-right: 4px;
  position: absolute;
  left: 137px;
  top: -4px;
}

.year
{
  color: white;
  padding-top: 4px;
  padding-left: 1px;
}

.col-sm-12 .h5
{
  color: #656565;
}


/* section 5 */
.h-6
{
  text-align: center;
  color: #00d0ff;
  font-weight: 700;
  padding-bottom: 20px;
}
.h-7
{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 40px;
}


.uni-card
{
  width: 23% !important;
  padding: 0 !important;
  height: 325px !important;
  border-radius: 10px;
  box-shadow:  0px 5px 15px rgba(0, 0, 0, 0.35);
}
.uni-card-img
{

  border-radius: 10px;
  height: 200px;
  width: 100%;
}
.uni-card-title
{
  text-align: center !important;
  font-weight: 500 !important;
  color: #000000 !important;
  margin: 0px !important;
  position: relative !important;
  font-weight: 500;
  text-align: center !important;
  padding-top: 40px;
 
}
