
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: "poppins",sans-serif;
}
/* root:{


} */
/* social media header */
.header1
{
  display: flex;
  padding-left: 2%;
  padding-bottom: 1%;
}

.header1 .liheader1
{
  display: flex;
  gap: 20px;

}

.header1 .liheader1 img
{
  width: 30px;
}

.header1 .liheader2
{
  display: flex;
  gap: 20px;
  padding-left: 55%;
}

.header1 .liheader2 img
{
  width: 20px;
  text-decoration: none;
}

.header1 .liheader2 a
{
  text-decoration: none;
  color: black;
}
 
.header1 .liheader2 .one:hover{
  color: #00d0ff;
}
.header1 .liheader2 .two:hover{
  color: #00d0ff;
}


/* logo */
.logo
{
    width: 130px;
}

/* main header */
header
{
    background-color: white;
    margin-left: 10%;
    margin-top: 10px;
}
.nav
{
    /* display: flex; */
    font-family: Sans-serif;
    /* font-weight: 5000; */
    
}
.nav-bar
{
    display: flex;
    margin-top: 20px;
}
.nav-bar li 
{
    list-style: none;
    margin: 20px;
    text-decoration: none;
    font-weight: bold;
    
}
.nav-bar li a
{
    text-decoration: none;
    color: black;
}

.header .nav .btn
{
    margin-left: 5%;
    width: 170px;
    height: 40px;
    margin-top: 40px;
    border-radius: 10px;
    color: white;
    background-color: #00d0ff ;
    border: none;
    font-weight: bold;
}
.header .nav .btn:hover
{
  background-color: #14a2ca;
}
/* dropdown css */

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
  }
  
  .dropdown-content a {
    color: black;
    /* padding: 4px 4px; */
    text-decoration: none;
    display: block;
    width: 100% !important;
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .dropdown-content a:hover
{
  background-color: #14a2ca !important;
}
  
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  
/* card */

.service{
    flex-wrap: nowrap;
    display: flex;
  }

  .service .card{
    padding: 0px ;
    width: 400px;
    box-shadow: 10px 10px 5px 0px rgba(199, 196, 196, 0.75);
    display: flex;
    flex-direction: row;
  
  }

.card-title1
{
  padding-top: 5px !important;
 
}
.card-title{
  padding-top: 4px !important;
  font-size: xx-large !important;
  color: #00d0ff !important;
  font-weight: 100px !important;
}

.main
{
  width: 100%;
  height: 904px;
  display: flex;
  padding: 100px 0px ;
  justify-content: space-around;
  gap: 35px;
}

.main-container-1
{
  position: relative;
  width: 473px;
  height: 571px;
  padding: 20px;
}

.img-1
{
  width: 400px;
  height: auto;
  border-radius: 10px;
  position: absolute;
  top: 0%;
  left: 0%;
}
.img-2
{
  width:275px;
  height: auto;
  border-radius: 0px 10px 10px 10px;
  position: absolute;
  left: 225px;
  top: 300px;
  box-shadow: -10px -10px 0px 0px #ffff;
}

.main-container-2
{
  padding: 20px;
  width: 578px;
  height: 704px;
}

.btnn
{
  background-color: #00d0ff;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  margin-top:7% ;
}
.btnn:hover
{
  background-color: #14a2ca;
}

/* section 4 */

.course-section
{
  
  height: 2000px;
  /* background-color: black; */
  background-color: #d9faff;
  background-image: url(../IMG/backgraound\ img\ sec-4.png) ;
 
  opacity: .8;

  background-attachment: fixed;
  
  /* z-index: -999; */
  background-repeat:no-repeat ;
  margin-top: 50px !important;
}
.main-1
{
  margin-top: 150px !important;
}

.h-3
{
  text-align: center;
  color: #00d0ff;
  font-weight: 700;
  padding-bottom: 20px;
}
.h-4
{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 40px;
}

.main-1-container-1
{
  margin-top: 40px ;
  padding-left: 80px !important;
}

.btn-1
{
  margin-top: 10px;
  padding: 11px;
  width: 261px;
  border: 2px solid #625ecd;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container  .small-cards {
  width: 17%;
  height: 154px;
  margin: 10px;
  background-color: #fff;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  box-shadow:  0px 5px 15px rgba(0, 0, 0, 0.35);
  margin-top: 20px;
  border-radius: 10px;
  z-index: -1;
  margin-bottom: 20px;
  gap: 10px;

position: relative;

}
.small-cards a{
  text-decoration: none !important;
}
.img-circle
{
  border: 1px solid black;
 /* padding-left: 30px;
 padding-right: 30px; */
 margin-top: 20px;
 width: 50px;
 height: 50px;
 border-radius: 100px;
 padding-top: inherit;
 background-color: #005792;
}
.small-cards-img
{
  padding-bottom: 34px;
}
.small-cards-title
{
  color: #00204a;
  font-weight: 700;
}

.small-card-1
{
  border: 1px solid black;
  height: 28px;
  width: 53px;
  background-color: #00204a;
  font-size: 17px;
  border-radius: 6px;
  padding-right: 4px;
  position: absolute;
  left: 137px;
  top: -4px;
}

.year
{
  color: white;
  padding-top: 4px;
  padding-left: 1px;
}

.col-sm-12 .h5
{
  color: #656565;
}


/* section 5 */
.h-6
{
  text-align: center;
  color: #00d0ff;
  font-weight: 700;
  padding-bottom: 20px;
}
.h-7
{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 40px;
}


.uni-card
{
  width: 23% !important;
  padding: 0 !important;
  height: 325px !important;
  border-radius: 10px;
  box-shadow:  0px 5px 15px rgba(0, 0, 0, 0.35);
}
.uni-card-img
{

  border-radius: 10px;
  height: 200px;
  width: 100%;
}
.university-image{
  /* width: inherit; */
  height: 200px;
  /* transform: scale(1.2) translateY(8%); */
  background-size: cover;
  background-position: 50%;
  z-index: 1;
  border-radius: 10px;
}

.university-image{
  will-change: transform;
  
  transition: transform 450 ms;

}
.university-image:hover,
.university-image:focus{

  transition:transform 125ms;
  transform:translateY(-10px);
  transition:all.4s;
  

}


.uni-card-title
{
  text-align: center !important;
  font-weight: 500 !important;
  color: #000000 !important;
  margin: 0px !important;
  position: relative !important;
  font-weight: 500;
  text-align: center !important;
  padding-top: 40px;
 
}

/* section 6 */


.box-color
{
  background-color: #00204A;
  width: 100%;
  opacity: .9;
  height: 271px;
}

.course-section-1
{
  
  height: 100vh;
  background-image: url('../IMG/backgraound\ img\ sec-4.png') ;
  background-color: #000000;
  opacity: .9;
  background-attachment: fixed;
  background-repeat:no-repeat ;
  margin-top: 50px !important;
  width: 100%;
  height: 271px;
}

.box-container
{
  padding-top: 40px;
}


.box-container .box-text 
{
  
  color: white;
  font-size: 21px;
  position: relative;
  font-weight: 600;
  
}
.box-para
{
  color: white;
  font-size: 13px;
  position: relative;
  font-weight: 400;
  text-align: start; padding-left: 75px;
}

.ak{position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}


.bgimg{
    position: relative;
    text-align: center;
    color: white;
    background-image: url(../IMG/backgraound\ img\ sec-4.png) ;

}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* srction 7 */
.section-7{
    height: 100vh;
    /* margin: 20px 50px 20px 50px; */
}

.main-2
{
  /* width: 100%; */
  /* box-sizing: border-box;
  width: 800px; */
  height: 904px;
  padding: 100px 0px;
  display: flex;
  text-align: center;
  /* padding-left: 12%; */
  /* padding-right: 15%; */
 
}

.h-8
{
  text-align: center;
  color: #00d0ff;
  font-weight: 700;
  padding-bottom: 20px;
  padding-right: 390px;
}
.h-9
{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 40px;
  padding-left: 0px;
}

.main-2-container-1
{
  width: 900px;
  padding-top: 50px;
}

.main-2-sub-container-1{
  width: 80%;
  text-align: start;
}

.main-2-container-2
{
  position: relative;
}
.img-3
{
  width: 400px;
  height: auto;
  border-radius: 10px;
  position: absolute;
  top: 0%;
  left: 0%;
}
.img-4
{
  width:275px;
  height: auto;
  border-radius: 0px 10px 10px 10px;
  position: absolute;
  left: 225px;
  top: 300px;
  box-shadow: -10px -10px 0px 0px #ffff;
}

.box-text-1
{
  font-weight: 600;
  line-height: 0.5em;
  font-size: 25px;
  margin-left:8%;
  padding-left: 150px;
  padding-bottom: 20px !important;
}

.box-text-1 p{
  text-align: start;

  /* margin-left: 9rem; */
  text-align: left;
  font-size: 12px;
  /* padding-left: 85px; */
  padding-top: 10px;
}

.text-para-1
{
  text-align: left;
  font-size: 12px;
  /* padding-left: 85px; */
  padding-top: 10px;
  /* margin-left: 4rem; */
  font-weight: lighter !important;
  padding-left: 30px;
}

/* section 8 */
.sec-8
{
  margin-top: 100px;
}
.course-section-2
{
  
  height: 1030px;
  /* background-color: black; */
  background-color: #d9faff;
  background-image: url(../IMG/backgraound\ img\ sec-4.png) ;
 
  opacity: .8;

  background-attachment: fixed;
  margin-top: 150px;
  
  /* z-index: -999; */
  background-repeat:no-repeat ;
  padding-top: 100px;
}
.section-8
{
  width: 1519px;
  height: 925px;
  padding-top: 100px;
  /* background-color: hotpink; */
}
.section-8-1{
  width: 1519px;
  height: 925px;
}
.main-5
{
  width: 1279px;
  height: 725px;
  margin-left: 120px;
  margin-right: 120px;
  /* background-color: #3e8e41; */
  padding: 20px;
  display: flex;
}

.sub-main-5-1
{
  width: 627px;
  height: 685px;
  /* background-color: red; */
}

.sub-main-5-2
{
  width: 627px;
  height: 685px;
}

.sec-8-img
{
  width: 627px;
  height: 418px;
  padding-top: 50px;
}
.h-12
{
  text-align: center;
  color: #00d0ff;
  font-weight: 700;
  padding-bottom: 20px;
  padding-right: 390px;
}
.h-13
{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 40px;
  padding-left: 0px;
}
.submain-5-img
{
  width: 63px;
  height: 55px;
  padding: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 4px 4px 4px 4px;
  font-size: 35px;
  padding-left: 20px;
}

.submain-5-1
{
  display: flex;
  padding-left: 40px;
  padding-bottom: 20px;
}

.submain-5-2
{
  display: flex;
  padding-left: 40px;
  padding-bottom: 20px;
}

.submain-5-text-1
{
  padding-left: 10px;
}
.submain-5-text-2
{
  /* background-color: #E6E6E6; */
  padding-left: 10px;
}



/* section 9 */

.section-9
{
  margin-top: 5%;
}
.h-10
{
  color: #00204A;
    font-size: 31px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 40px;
    padding-left: 0px;
}

.section-9-img
{
  vertical-align: middle;
    display: inline-block;
    height: auto;
    max-width: 74%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    justify-content: center;
    margin-left: 200px;
}

/* section 10 */

.course-section-3
{
  
  background-image: url(../IMG/Start-an-Overseas-Education-Consultancy-1\ bg\ img.jpg);
  /* opacity: .1; */
  background-attachment: fixed;
  background-repeat:no-repeat ;
  margin-top: 50px !important;
  width: 100%;
  height: 287px;
  /* background-color:  #00204A;
  opacity: 1.8; */
  background-position: top;
  /* background-color: #000000;
  opacity: 0.5; */
}

.main-3
{
  position: relative;
  /* box-sizing: border-box; */
  font-size: 24px;
  background-color: #000000;
  opacity: 0.5;
  width: 100%;
  height: 287px;
}
.sub-main-3
{
  padding-left: 189px;
  padding-right: 189px;
  display: flex !important;
  gap: 115px;
  padding-top: 100px;
}
.main-3-1
{
  width: 513px;
  height: 87px;
  padding: 20px;
}
.main-3-2
{
  width: 513px;
  height: 87px;
  padding: 20px;
}

.h-11
{
  color: #ffffff;
  font-size: 31px;
  font-weight: 700;
  /* margin-left: -280px; */
}

/* section 11 */

.uni-logo
{
  width: 230px !important;
    height: 130px;
}

/* section 12 */

.sec-12
{
  width: 1519px;
  height: 569px;
  background-color: #00204A;
  padding-top: 100px;
  padding-bottom: 100px;
}

.main-4
{
  width: 1519px;
  height: 369px;
 display: flex;
  background-color: #00204A;
}

.main-4-1
{
  width: 1140px;
  height: 369px;
  margin-left: 189px;
  margin-right: 189px;
  background-color: #00204A;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.sub-main-1
{
  width: 300px;
  height: 369px;
  gap: 40px !important;
}

.pad-div
{
  width: 300px;
  height: 369px;
}


.sub-main-1-1 img
{
width: 260px;
height: 261px;
padding: 20px !important;
}

.sub-main-1-2 img
{
  /* padding: 10px; */
  padding-left: 21px;
 
}

.pad-div-1
{
  width: 188px;
  height: 369px;
  padding-left: 47px;
  text-decoration:none ;
  padding-bottom: 7px !important;
}

.pad-div-1 ul{
  list-style-type: none;
}
.pad-div-1 ul li a{
  text-decoration: none !important;
  color: white;

}
.pad-div-1 ul li a span
{
  padding-bottom: 40px;
}

.pad-div-2
{
  width: 360px;
  height: 369px;
  padding-left: 100px;
  text-decoration: none;
  padding-bottom: 50px;
}

.pad-div-2 ul{
  list-style-type: none;
}
.pad-div-1 ul li{
  margin-bottom: 15px;
}

.pad-div-2 ul li{
  margin-bottom: 30px;
}

/* section 13 */

.section-13
{
  width: 1519px;
  height: 59px;
  background-color: #001633;
}
/* .sec-13
{
  width: 1436px;
  height: 38px;
  padding-top: 30px;
 
  text-align: center;
    color: #ffffff;
} */

.main-6
{
  width: 1456px;
  height: 58px;
  margin-left: 31px;
  margin-right: 31px;
}
.main-6-1
{
  width: 1436px;
  height: 38px;
  padding: 10px;
  font-size: 14px;
}
.main-6-1 p
{
  padding-left: 60px;
}

.main-6-1 p a 
{
  color: #cc3366;
  text-decoration: none;
}
.a_hover:hover
{
  color: #00204A;
}


